{% extends 'base.html.twig' %}

{% block title %}403-forbidden{% endblock %}

{% block body %}

    <h1 class="h3 mb-3 font-weight-normal">Vous n'avez pas les droits</h1>

    <a href="{{ path('app_login') }}">authentifiez-vous avec un autre user</a>

{% endblock %}
